In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
     if i == 3:
        break
i += 1
print(i)

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits: 
  print(x)

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [18]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [22]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
print(x)

banana

In [1]:
def my_function():
 print("Hello from a function")

In [2]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [3]:
def my_function(fname, lname):
  print(fname)

In [6]:
def my_function(x):
 return x + 5

In [7]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

In [8]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

In [9]:
x = lambda a : a

In [ ]:
class MyClass:
  x = 5